#modal{
    background-color: whitesmoke;
    position: absolute;
    min-height: max-content;
    width: 200px;
    min-width: 150px;
    z-index: 10;
    border: 1px solid black;
    padding: 5px;
    left: 330px;
  }

  .modal-items{
    border: 0.4px solid black;
    padding: 5px 10px;
  }
  .modal-items:hover{
    cursor: pointer;
  }

  .task {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 0.2rem 0rem 0.3rem 0rem;
    border: 0.1rem solid black;
    border-radius: 0.2rem;
    padding: 0.5rem 0.2rem 0.5rem 2rem;
    z-index: 0;
  }
  
  #task-button {
    margin: 0.2rem 0rem 0.1rem 0rem;
    background-color: white;
    border-radius: 0.2rem;
    width: 100%;
    border: 0.25rem solid black;
    border-radius: 0.3rem;
    font-size: 1rem;
  }